<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>442474534389-uurmkjqqb62l0f3niks0iahmih4ecb0q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.442474534389-uurmkjqqb62l0f3niks0iahmih4ecb0q</string>
	<key>API_KEY</key>
	<string>AIzaSyCRWh1knqLV6v3ddVhMQn1MLrvfOwIASmE</string>
	<key>GCM_SENDER_ID</key>
	<string>442474534389</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fundsManagement</string>
	<key>PROJECT_ID</key>
	<string>fundsmanagement-d7680</string>
	<key>STORAGE_BUCKET</key>
	<string>fundsmanagement-d7680.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:442474534389:ios:44c2db611e0c1c2384fcbc</string>
</dict>
</plist>